:root{
    --header-color: #5D6372;
}

.board {
    flex: 1 1 0;
    min-width: 306px;
    margin: 0px 8px;

    background: #FEFEFF;
    border: 1px solid #F2F2F4;
    border-radius: 4px;
}

.board-header,
.tasks {
    margin: 12px;
    margin-bottom: 0px;
}

.board-header-year,
.board-header-month {
    margin-bottom: 4px;
}

.board-header-year {
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: var(--header-color);
}

.board-header-month {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: var(--header-color);
}

.no-task {
    margin: 0;
    margin-top: 20px;

    font-size: 14px;
    line-height: 24px;

    color: #B7BDC9;
}

.create-new-task-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;

    width: fit-content;
    left: 122px;
    top: 368px;

    border-radius: 8px;
}

.create-new-task-button-icon {
    width: 16px;
    height: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 8px;
}

.create-new-task-text {
    position: static;
    width: 105px;
    height: 20px;
    left: 32px;
    top: 8px;

    font-size: 14px;
    line-height: 20px;

    color: #2F3136;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px;
}