.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;

    background-color:rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-create-edit-task,
.dialog-delete-task {
    position: relative;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    border: 1px solid #E4E4E8;
}

.dialog-create-edit-task {
    width: 602px;
    height: 278px;
}

.dialog-delete-task {
    width: 352px;
    height: 188px;
}

.dialog-button-close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
}

.dialog-header {
    margin: 24px;
    margin-bottom: 16px;
}

.dialog-content {
    margin: 0px 24px;
}

.dialog-header-text {
    position: relative;
    height: 24px;

    line-height: 27px;
    display: flex;
    align-items: center;

    color: #000000;
}

.dialog-delete-text {
    position: relative;
    
    line-height: 24px;

    color: #5D6372;
}

.dialog-content-text,
.dialog-input-task-name,
.dialog-input-weight {
    margin-bottom: 8px;
}

.dialog-content-text{
    position: relative;
    width: 63px;
    height: 16px;

    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #5D6372;
}

.dialog-input-task-name,
.dialog-input-weight {
    padding: 8px 12px;

    border: 1px solid #D6D6DD;
    box-sizing: border-box;
}

.dialog-input-task-name::placeholder,
.dialog-input-weight::placeholder {
    color: #B7BDC9;
    font-weight: normal;
}

.dialog-input-task-name {
    position: relative;
    width: 552px;
    height: 36px;
    margin-bottom: 16px;
}

.dialog-input-weight {
    position: relative;
    width: 64px;
    height: 36px;
}

.dialog-buttons {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.dialog-button-cancel {
    position: relative;
    padding: 8px;
    margin-right: 16px;

    border: none;
    border-radius: 8px;
}

.dialog-button-save-task,
.dialog-button-delete {
    position: relative;
    padding: 8px 16px;

    border: none;
    color: #FFFFFF;
}

.dialog-button-save-task {
    background: #5E20B3;
}

.dialog-button-delete {
    background: #E53303;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}