@import "Assets.css";

:root{
    --side-bar-width: 68px;
}

* {
    margin: 0;
}

.side-bar {
    position: absolute;
    width: var(--side-bar-width);
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #1A0931;
}

.side-bar-logo {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 20px;
    top: 20px;
}

.main {
    position: absolute;
    left: var(--side-bar-width);
    right: 0;
    margin: 20px 50px;
}

.main-header {
    width: 174px;
    height: 24px;
    margin-bottom: 24px;

    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.boards {
    top: 68px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}