@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --side-bar-width: 68px;
}

.clickable:hover {
    cursor: pointer;
}

.margin-4 {
    margin: 4px;
}

.margin-8 {
    margin: 8px;
}

.margin-16 {
    margin: 16px;
}

.margin-20 {
    margin: 20px;
}

.font-12 {
    font-size: 12px;
}

.font-20 {
    font-size: 20px;
}

.bold {
    font-weight: 600;
}

.border-radius-4 {
    border-radius: 4px;
}

.bg-white {
    background: #FFF;
}

* {
    margin: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.side-bar {
    position: absolute;
    width: var(--side-bar-width);
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #1A0931;
}

.side-bar-logo {
    position: absolute;
    width: 28px;
    height: 28px;
}

.main {
    position: absolute;
    left: var(--side-bar-width);
    right: 0;
    margin: 20px 50px;
}

.main-header {
    margin-bottom: 24px;
    line-height: 24px;
}

.boards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}